
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}

/* الهيدر */
/* الهيدر مع صورة الخلفية */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-image: url('./img/header2.jpg'); /* الصورة اللي حاططها */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 1000;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
top: 20px;
}

/* القايمة */
.menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 35px;
    position: relative;
    left: 25px;
    top: 30px;
}

.menu li a:hover {
    color: orangered;
}

.icon {
    width: 20px;
    height: 20px;
}

/* المسافة تحت الهيدر */
main, .menu-grid {
    margin-top: 180px; /* عشان يظهر المنيو تحت الهيدر */
    padding: 30px;
}

/* Grid Menu */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr); /* ← بدل auto-fit */
    gap: 50px;
    justify-content: center; /* يخلي العمودين في النص */
    max-width: 1200px;
    margin: auto;
    
}

/* الكارد */
.menu-item {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
    text-align: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;

}

/* الصورة */
.menu-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* النصوص */
.menu-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.menu-item p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.menu-item .price {
    font-weight: bold;
    font-size: 18px;
    color:#ff6600;
}
h2{
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color:orangered;
}
.Appetizers{
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color:black;

}
.Appetizers-grid{
     display: grid;
    grid-template-columns: repeat(3, 3fr); /* ← بدل auto-fit */
    gap: 50px;
    justify-content: center; /* يخلي العمودين في النص */
    max-width: 1200px;
    margin: auto;
}
.menu-Appetizers{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
    text-align: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
}
.menu-Appetizers img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.menu-Appetizers h3{
     font-size: 20px;
    margin-bottom: 5px;
}
.menu-Appetizers p{
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}
.menu-Appetizers .price{
     font-weight: bold;
    font-size: 18px;
    color:#ff6600;
}
.visitors {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 8px;
}

.visitors label {
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.visitors input {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
button{
    font-style: italic;
    font-weight: bold;
    color: #ff6600;
    font-size: 20px;
    background-color: black;
    border-radius: 20;
    width: 100%;
    height: 50px;
}
