/* إعادة ضبط */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* الخلفية */
body {
    background-image: url('./img/home-phote2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 140px; 
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* الهيدر */
header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}

/* اللوجو */
.logo {
    width: 140px;
    height: 140px;
    position: absolute;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    top: 0px;
    border-radius: 50%;
}

/* المنيو */
.menu {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu li a:hover {
    color: orangered;
}

.icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* السوشيال */
.icon2 {
    display: flex;
    list-style: none;
    gap: 20px;
}

.icon2 li img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

/* المحتوى */
.content {
    text-align: center;
    color: white;
    padding: 50px 20px;
    font-size: 30px;
}

/* ======================= */
/*  Mobile Only < 600px    */
/* ======================= */

@media (max-width: 600px) {

    header {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        gap: 10px;
        
    }
 .logo {
        order:1;
        position: static;
        transform: none;
        margin: 0 auto;
        width: 150px;
        height: 100px;
        
    }
    .icon2 {
        order: 2;
        justify-content: center;
    }


    .menu {
        order: 3;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .menu li a {
        font-size: 18px;
        gap: 5px;
    }

    .icon {
        width: 22px;
    }

    .icon2 li img {
        width: 32px;
        height: 32px;
    }

    body {
        padding-top:210px;
        height: 100vh;

}
.content{
    font-size: 10px;
}

}
 
