/* إعادة ضبط المسافات */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* الخلفية */
body {
 background-image: url('./img/home\ phote.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 120px; /* علشان الهيدر */
    font-family: Arial, sans-serif;
    width: 100%;
    height: 50vh;
}

/* الهيدر */
header {
    background-color: (255, 68, 0, 0.95);
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}

/* اللوجو */
.logo {
    width: 90px;
    height: 90px;
    border-radius: 80%;
}

/* قوائم الهيدر */
.menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu li a:hover {
    color: yellow;
}

/* الأيقونات */
.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* محتوى الصفحة */
.content {
    text-align: center;
    color: white;
    padding: 50px 20px;
    position: relative;
    top: 120px;
    font-size: 30px;
}
